/* INDEX *************************************************/
html{
    background-color: rgba(0, 0, 0, 0.788);
}

/* CONTENEDOR *******************************************/
.contenedor{
    background-color: rgba(0, 0, 0, 0.788);
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.89);
    margin: 5px;
    padding: 15px;
}
.navegador{
    background-color: rgba(84, 64, 194, 0.473);
    position: fixed;
    list-style: none;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem 3.5rem;
    box-shadow: 0 3px 5px rgba(247, 247, 247, 0.534);
}
a{
    color: white;
}
/* PRESENTACION ******************************************/
.presentacion{
    display: flex;
    margin: 30px;
    padding: 40px;
}
h1, h2{
    font-family: sans-serif;
    text-align: center;
}
.titulo{
    padding-bottom: 20px;
}
.texto{
    padding: 20px;
}
.contenido{
    text-align: center;
    width: 25rem;
    padding-top: 5rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px;
}
.contenedor-imagen{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}
.imagen{
    height: 30.5rem;
    width: 39.5rem;
    border-radius: 10px;
}

/* HABILIDADES ********************************************************/

.contenedor-habilidades{
    margin: 100px;
    padding: 80px;
    text-align: center;
}
.icono{
    width: 7.875rem;
    height: 7.25rem;
    background-color: rgb(255, 255, 255);
    border-radius: 11px;
    box-shadow: 0 3px 10px;
    padding: 20px;
    margin: 10px;
}

/* PROYECTO **********************************************/

.contenedor-proyectos{
    margin: 80px;
    padding: 50px;
    text-align: left;
}

.imagen1{
    width: 20.875rem;
    height: 16.25rem;
    background-color: rgb(231, 228, 228);
    border-radius: 20px;
    box-shadow: 0 3px 15px;
    padding: 8px;
    margin: 2px;
}

.titulo{
    font-family: sans-serif;
}

/* CONTACTO *********************************************/

.contacto h2 {
    text-align: center;
    margin-bottom: 2rem;
}
.contenedor-formulario-contacto{
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px;
    position: relative;
}
.contenedor-formulario-contacto label {
    line-height: 2.7em;
    font-weight: bold;
    color:rgba(109, 90, 219, 0.829);
}
.contenedor-formulario-contacto textarea {
    min-height: 6.25rem;
    font-size: 14px;
}
.contenedor-formulario-contacto .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 3px outset rgba(84, 64, 194, 0.897);
    font-size: 0.875rem;
    outline: none;
}
.input-field::placeholder {
    padding: 0.5rem;
    color: rgba(84, 64, 194, 0.897);
}
.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid rgba(84, 64, 194, 0.897);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
}
.submit-btn:hover {
    background-color: rgba(94, 76, 199, 0.623);
    border: 2px solid rgba(84, 64, 194, 0.897);
    cursor: pointer;
}

.redes{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 20%;
}
.icono-redes{
    width: 4rem;
    height: 4rem;
    border-radius: 40px;
}

